@model CreateBookModel

@{
    ViewData["Title"] = "Create book";
}

@if (Model.ErrorText is not null)
{
    @(Model.ErrorText)
}

<form method="post" action="./create">

    <label>Name</label>
    <input name="name" type="text" value="@(Model.Name)" />

    <label>Author</label>
    <select name="authorId">
        <option value="">--</option>
        @foreach (var author in Model.Authors)
        {
            <option value="@(author.Id)">@(author.Name)</option>
        }
    </select>

    <label>Series</label>
    <select name="seriesId">
        <option value="">--</option>
        @foreach (var author in Model.Series)
        {
            <option value="@(author.Id)">@(author.Name)</option>
        }
    </select>

    <input type="submit" value="Create" />

</form>