<h1 class="display-4">@(ViewData["Title"])</h1>

@if (ViewData["ErrorText"] is not null)
{
    @(ViewData["ErrorText"])
}

<form method="post" action="@(ViewData["Action"])">

    <label>Login</label>
    <input name="login" type="text" value="@(ViewData["Login"])" />

    <label>Password</label>
    <input name="password" type="password" value="@(ViewData["Password"])" />

    <input type="submit" value="@(ViewData["Title"])" />

</form>